.navbar-brand {
    margin-top: -15px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    margin-left: 0px;
    padding: -2px;
}
.font-clr{
    color: #f5f5f5;
}
.top-nav{
    background-color:#333;
    height: 44px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;

}



/*-- welcome --*/
.welcome{

    background-image:url(../../assets/images/images/glry/golds.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 -1px 1px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);

}
.welcome-grids {
    position: relative;
}
.w3ls-welcome-left-img{
    background: url(../../assets/images/images/11.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 450px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.w3ls-welcome-right {
    position: absolute;
    right: 80%;
    top: 14%;
}
.w3ls-welcome-right-info{
    padding:2em;
    background:#FFFFFF;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.w3ls-welcome-right-info h2,.w3-agileits-heading h3{
    color: #000000;
    font-size: 2em;
    margin: 0;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}
.w3ls-welcome-right-info h2 span,.w3-agileits-heading h3 span{
    color: #F44336;
}
.w3ls-welcome-right-info p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 2em 0 0 0;
}
.w3ls-welcome-right-info p span{
    display:block;
    margin:1em 0 0 0;
}
.agileinfo-red{
    float: left;
    width: 25%;
    height: 5px;
    background: #9C27B0;
}
.agileinfo-green{
    background: #8BC34A;
}
.agileinfo-blue{
    background: #03A9F4;
}
.agileinfo-yellow{
    background: #FFC107;
}

.space{
    height: 46px;
}
.rounded1{
    height:90%;
    max-height: 175px;
    width:100%;
}


.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1, 1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1, 1);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

}

.doc-item:hover .social-lists{
    margin-top: -2em;

}


/*=============== //Home-team ===============*/



footer{
    background:#212121;
}

.footer-top{
    padding: 1em 0;
    border-bottom: 1px solid #2f2f2f;
}

.footer-top-left p{
    color:#FFFFFF;
    font-size:.9em;
    margin:0;
}

.footer-top-left:nth-child(2){
    text-align:right;
}

.footer-top-left p a{
    color:#F44336;
    text-decoration:none;
}

.footer-top-left p a:hover{
    color:#FFFFFF;
}

footer-bottom{
    padding: 2em 0;
}
.footer-bottom-left h5,.footer-bottom-right h5{
    color:#FFFFFF;
    font-size:1em;
    font-weight:600;
    margin:0 0 1em 0;
    letter-spacing:1px;
    text-transform:uppercase;
}
.footer-img{
    float:left;
    width:30%;
}
.footer-img img{
    width:100%;
}
.footer-img-info{
    float: right;
    width: 67%;
}
.footer-img-info p,.footer-bottom-right p{
    color: #999999;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
}
.footer-bottom-right input[type="text"] {
    display: inline-block;
    background: #FFFFFF;
    border: none;
    width: 100%;
    margin: 1em 0 0 0;
    outline: none;
    padding: .5em;
    font-size: .9em;
    color: #999999;
}
.footer-bottom-right input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .4em 1em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #F44336;
    border: 2px solid #F44336;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.footer-bottom-right input[type="submit"]:hover{
    background: none;;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-twitter, .agileinfo-social-grids ul li a i.fa.fa-rss, .agileinfo-social-grids ul li a i.fa.fa-vk {
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    border: solid 2px #3b5998;
    background:#3b5998;
    color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
    border: solid 2px #55acee;
    background:#55acee;
    color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
    border: solid 2px #f26522;
    background:#f26522;
    color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
    border: solid 2px #45668e;
    background:#45668e;
    color: #FFFFFF;
}

.copyright p{
    color: #999999;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
    text-align:center;
}
.copyright p a{
    color:#999999;
    text-decoration:none;
}
.copyright p a:hover{
    color:#FFFFFF;
}
